.fake-code {
  font-family: monospace;
  font-size: 1em;
  text-align: left;
  text-shadow: 0 0 0;
  padding-bottom: 30px;
}

.tab1 {
  margin-left: 1em;
}

.tab2 {
  margin-left: 2em;
}

.blue-words {
  color: dodgerblue;
}

.green-words {
  color: springgreen;
}

.orange-words {
  color: orange;
}

.modal-dialog {
  color: black;
  text-shadow: none;
}

i {
  padding: 5px;
}

a:focus {
  outline: none;
}

.navbar-container {
  padding-top: 20px;
}

form > .form-group > label {
  text-align: left;
}

#name-label, #topic-label, #email-label, #message-label, #about-name-label {
  text-align: left;
}

.masthead-nav {
  padding-left: 110px;
  padding-right: 110px;
}

.about-text > p {
  font-size: 1.4em;
  text-align: justify;
  margin: 20px;
}

.about-text {
  border-bottom: 1px solid grey;
}

.form {
  text-align: left;
}

.btn {
  margin-top: 10px;
}

.up-arrow {
  text-align: right;
  padding: 20px;
}

@media(min-width: 770px) {
  .about {
    margin-top: 100px;
  }
}

@media (min-width: 825px) {
  .fake-code {
    font-size: 1.5em;
    padding-bottom: 25px;
  }
  .tab1 {
    margin-left: 4em;
  }
  .tab2 {
    margin-left: 8em;
  }
  .about-text {
    border-bottom: none;
  }
  .about-form {
    margin-top: 65px;
  }
  .about {
    margin-top: 80px;
  }
}

@media(min-width:990px) {
  .up-arrow {
    visibility: hidden;
  }
}
