.picture > img {
  border-radius: 10px;
  margin: 20px;
}

.science {
  margin-right: 50px;
  padding-bottom: 20px;
}

figcaption {
  text-align: center;
  padding-left: 30px;
  font-size: 1.2em;
}

@media(min-width: 990px) {
  .science {
    padding-top: 100px;
  }
}
