h1 {
  font-family: Cousine;
  font-weight: bold;
}

.modal-body > p > a {
  color: black;
  text-decoration: underline;
}

.modal-body > p {
  font-size: 1.2em;
  margin-left: 20px;
  margin-right: 20px;
}
